body{
    position: auto;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    font-family: "League Spartan";
    .mobileHeader{
        background-image: url(../images/mobilebackground.jpg);
        background-size: cover;
        height: 750px;
        .menu{
            z-index: 998;
            position: fixed;
            display: flex;
            justify-content: space-between;
            background: black;
            height: 54px;
            width: 100%;
            i{
                color: white;
                font-size: 20px;
            }
            .icon{
                margin: 15px;
            }
            .logo{
                img{
                    align-self: center;
                    width: 150px;
                    height: 54px;
                    object-fit: cover;
                }
            }
        }
        .mobileSidebar{
            position: fixed;
            top: 0;
            height: 100vh;
            width: 100%;
            z-index: 999;
            overflow-x: hidden;
            display: flex;
            background: rgba(#0d0e0f, 0.95);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            left: -100%;
            flex-direction: column;
            transition: 0.5s ease-in;
            button{
                font-family: "League Spartan";
                font-size: 30px;
                font-weight: 550;
                color: white;
                background-color: transparent;
                border: none;
                height: 40px;
            }
            button:hover{
                background: rgba(#25282d, 0.9);
            }
            .closeIcon{
                text-align: left;
                font-size: 20px;
                height: 54px;
                width: 40px;
                .fa-x{
                    display: fixed;
                    margin-left: 5px;
                }
            }
            .closeIcon:hover{
                background: transparent;
            }
            .sidebarButton{
                height: 100px;
            }
        }
        .mobileHeaderText{
            margin: auto;
            width: 70%;
            padding-top: 450px;
            color: white;
            text-align: center;
            button{
                color: black;
                background: white;
                border-color: #0000000D;
                border-style: solid;
                border: 1px;
                padding: 8px 14px 8px 14px;
                border-radius: 4px;
                font-size: 12px;
                font-weight: 600;
                font-family: "League Spartan";
                margin: 5px 5px 5px 5px;
                .icon{
                    margin-left: 10px;
                }
            }
            button:hover{
                cursor: pointer;
                background: #F3F4F6;
            }
        }
    }
    .parallax{
        display: none;
        background-image: url(../images/background.jpg);
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .announcement{
        z-index: 2;
        height: 37px;
        background-color:#dfd1b4;
        .overflow{
            overflow: hidden;
        }
        .rightToLeft{
            animation: RightToLeft 10s infinite linear;
        }
        @keyframes RightToLeft {
            from{
                transform: translateX(0%);
            }
            to{
                transform: translateX(-50%);
            }
        }

        h6{
            z-index: 997;
            font-size: 15px;
            text-wrap: nowrap;
            padding-top: 12px;
            margin: 0;
        }
    }
    .discover{
        margin: 20px;
        margin-top: 40px;
        .profile{
            display: flex;
            padding: 10px;
            border: 1px solid lightgrey;
            border-radius: 7px;
            box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
            img{
                width: 120px;
                object-fit: cover;
                border-radius: 10px;
            }
            .profileText{
                margin: 10px;
                h4{
                    margin: 0px;
                }
                p{
                    margin: 3px;
                }
            }
            margin-bottom: 40px;
        }
        .tiktok{
            h4{
                margin-bottom: 0px;
            }
        }
    }
}